{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <h1>{{ entity }} list</h1>

    {{ "{{ addDataTable(dataTable) }}" }}

{% if 'new' in actions %}
<ul>
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endif %}
{{ "{% endblock %}" }}
{% endblock body %}
