<?php
namespace {{ namespace }}\DataTables{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use Brown298\DataTablesBundle\MetaData as DataTable;
use Brown298\DataTablesBundle\Model\DataTable\QueryBuilderDataTableInterface;
use Brown298\DataTablesBundle\Test\DataTable\QueryBuilderDataTable;
use Doctrine\ORM\EntityManager;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\Templating\EngineInterface;
{% endblock use_statements %}

/**
{% block phpdoc_class_header %}
 * {{ entity }} controller.
{% endblock phpdoc_class_header %}
 *
{% block phpdoc_class_annotations %}
{% if 'annotation' == format %}
 * @DataTable\Table(id="{{ entity }}Table")
{% endif %}
{% endblock phpdoc_class_annotations %}
 */
{% block class_definition %}
class {{ entity_class }}DataTable extends QueryBuilderDataTable implements QueryBuilderDataTableInterface
{% endblock class_definition %}
{
{% block class_body %}
{%- for field, metadata in fields %}

    /**
     * @var {{ metadata.type }}
     * @DataTable\Column(source="entity.{{ field }}", name="{{ field|capitalize }}")
{% if loop.first %}
     * @DataTable\DefaultSort()
{% endif %}
     */
    public ${{ field }};
{% endfor %}

/**
 * getQueryBuilder
 *
 * @param Request $request
 *
 * @return null
 */
public function getQueryBuilder(Request $request = null)
{
    $repo = $this->em->getRepository('{{ namespace }}\Entity\{{ entity_class }}');
    $qb = $repo->createQueryBuilder('entity');

    return $qb;
}

{% endblock class_body %}
}