
    /**
{% block phpdoc_method_header %}
     * Uses DataTables to List all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $dataTable = $this->get('data_tables.manager')->getTable('{{ entity }}Table');
        if ($response = $dataTable->ProcessRequest($request)) {
            return $response;
        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'dataTable' => $dataTable,
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:index.html.twig', array(
            'dataTable' => $dataTable,
        ));
{% endif %}
{% endblock method_return %}
    }
